body{
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

a{
  color: inherit;
}

.hero-panel{
  background: linear-gradient(150deg, #2C4251 0%,#5B86E5 100%);
  /*background-color: #1E2749;*/
  /*height: 100vh;*/
  width: 100%;
  color: #FFF;
  position: relative;
  font-size: 0;
  display: table;
}

/*sides*/
.hero-center{
  /*height: 100vh;*/
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 100px;
}
.left-side{
  left: 0;
  padding: 100px;
  box-sizing: border-box;
}

/*logo*/
.hero-logo{
  font-size: 40px;
  color: #FFF;
  font-weight: 400;
  margin-bottom: 50px;
}
.logo-army{
  font-weight: 600;
}

/*hero*/
.hero-img{
  width: 75px;
  margin-bottom: 25px;
  -ms-transform: rotate(-7deg);
  -webkit-transform: rotate(-7deg);
  transform: rotate(-7deg);
}
.hero-heading{
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
  margin-bottom: 8px;
}
.hero-subheading{
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 25px;
}
/*form*/
.create-start-button{
  font-size: 20px;
  color: #FFF;
  padding: 8px 28px;
  border: 2px solid #FFF;
  display: inline-block;
  border-radius: 23px;
  font-weight: 600;
  cursor: pointer;
}
.create-start-button:hover{
  background-color: #FFF;
  color: #1E2749;
}
.create-input-container{
  background-color: #FFF;
  border-radius: 12px;
  width: auto;
  padding-left: 12px;
}
.create-label{
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 300;
}
.create input{
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  padding: 8px 17px;
  border: none;
  border-radius: 22px;
  width: 250px;
  color: #20222b;
  margin-bottom: 15px;
}
.create input:focus{
  outline: none;
}
.create-button{
  height: 40px;
  vertical-align: top;
  margin-left: 10px;
  cursor: pointer;
}
.create-loader-container{
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 40px;
  width: 40px;
  margin-left: 10px;
}
.create-button-loader{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin: -20px 0 0 -10px;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

/*confirmation*/
.confirm{
  color: #FFF;
  font-size: 24px;
  font-weight: 300;
}
.confirm-heading{
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 8px;
}
.confirm-subheading{

}
.confirm li{
  margin-bottom: 8px;
}

/*empty right side*/
.empty-table{
  display: table;
  height: 100%;
  width: 100%;
}
.empty-cell{
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  text-align: center;
}
.empty-img{
  width: 150px;
  /*opacity: 0.1;*/
}

/*info box*/
.create-info{
  background-color: #2C4251;
  font-size: 14px;
  width: 284px;
  padding: 7px 12px;
  box-sizing: border-box;
  border-radius: 12px;
  font-weight: 300;
  position: relative;
  margin-bottom: 15px;
  box-shadow: 0px 2px 1px rgba(0,0,0,0.3);
}
.create-info:after{
  bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	/*border-color: rgba(39, 42, 56, 0);*/
	border-bottom-color: #2C4251;
	border-width: 15px;
	margin-left: -15px;
}

/*confirm panel*/
.confirm-panel{
  background-color: #2C4251;
}
.confirm{
  padding-top: 100px;
  padding-bottom: 100px;
  color: #FFF;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
  font-weight: 300;
  max-width: 700px;
}

/*pricing panel*/
.pricing-panel{
  background-color: #FFF;
}
.pricing{
  padding-top: 75px;
  padding-bottom: 75px;
  margin-left: auto;
  margin-right: auto;
  color: #2C4251;
  max-width: 900px;
}
.pricing-heading{
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}
.pricing-options{
  text-align: center;
  margin-bottom: 30px;
  font-weight: 600;
}
.pricing-option{
  display: inline-block;
  margin: 0 10px;
  padding: 2px 15px;
  border-radius: 10px;
  border-radius: 13px;
  color: #5B86E5;
  cursor: pointer;
}
.pricing-option:hover{
  color: #2C4251;
}
.pricing-option-selected{
  background-color: #2C4251;
  color: #FFF;
}
.pricing-option-selected:hover{
  color: #FFF;
}
.pricing-table{
  width: 100%;
  border-collapse: collapse;
}
.pricing-table td{
  border: 1px solid #2C4251;
  padding: 20px;
  width: 33%;
  vertical-align: top;
}
.pricing-table td.selected{
  color: #FFF;
  background-color: #2C4251;
}
.option-heading{
  font-size: 25px;
  font-weight: 600;
}
.option-price{
  font-size: 50px;
  font-weight: 600;
}
.option-price-month{
  font-size: 12px;
  font-weight: 300;
}
.pricing-table li{
  font-weight: 300;
  margin-bottom: 5px;
}
.option-li-bold{
  font-weight: 400 !important;
}
.pricing-table li .email-price{
  font-weight: 300;
}

/*slider panel*/
.slider-panel{
  background-color: #2C4251;
  color: #FFF;
}
.slider-inner{
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.slider-card{
  display: table;
  width: 100%;
}
.slider-cell{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.slider-1-3{
  width: 33.3%;
}
.slider-2-3{
  width: 66.6%;
}
.slider-text-right{
  /*text-align: left;*/
  padding: 50px 50px 50px 0;
}
.slider-text-left{
  /*text-align: right;*/
  padding: 50px 0 50px 50px;
}
.slider-img-circle{
  background-color: #FFF;
  display: inline-block;
  padding: 20px;
  border-radius: 76px;
  width: 100px;
  height: 100px;
  margin: 50px;
}
.slider-img{
  width: 100px;
}
.slider-heading{
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 7px;
}
.slider-subheading{
  font-weight: 300;
  font-size: 20px;
}

/*CTA panel*/
.cta-panel{
  background: linear-gradient(150deg, #2C4251 0%,#5B86E5 100%);
  padding: 50px 0;
}
.cta-inner{
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}
.cta-heading{
  color: #FFF;
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 20px;
}

/*footer*/
.footer{
  margin-left: auto;
  margin-right: auto;
  text-align: right;
  color: #2C4251;
  max-width: 900px;
  padding: 20px 0;
}
.footer-item{
  text-decoration: none;
  margin: 0 10px;
}

@media (max-width: 700px) {
  .hero-center{
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
  }
  .pricing-table td {
    display: block;
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
  }
  .create-loader-container {
    margin-right: 10px;
  }
  .create-info {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
  }
  .confirm {
    padding: 40px 20px;
    font-size: 20px;
  }
  .confirm-heading {
    font-size: 40px;
  }
  .pricing {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .pricing-option {
    margin: 0px 2px;
    padding: 2px 10px;
  }
}
@media (max-width: 360px) {
  .hero-heading{
    font-size: 40px;
  }
  .hero-subheading{
    font-size: 20px;
  }
  create-start-button {
    font-size: 18px;
  }
  .create input {
    width: 200px;
  }
}
